.ui.grid.welcome-container {
  min-height: 100vh;
  margin: 0;
  background-blend-mode: multiply;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

  .container {
    margin-top: 10rem !important;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .9);

    .header {
      font-weight: 500;
    }

    .form {
      margin-bottom: 5rem;
    }

    label {
      color: green;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .ticket-button { 
      float: right;
      margin-top: 10px;
    }

    .generate-ticket {
      margin-left: 14px;
    }
  }

  #canvas {
    height: auto;
    display: none;
  }
}