
// Global variables
$font-family-header: 'Barlow', 'Lato', sans-serif !important;
$color-primary: #010f4f;
$color-secondary: #e8d7f1;
$color-accent: #ffcf99;
$color-brown: #4f3824;
$color-grey: #373f51;
$color-paint: #e9edff;
$color-paint-two: #DFEEF0;