.ui.inverted.vertical.menu.sidebar-menu {
  display: flex;
  width: 250px;

  a.item {
    cursor: pointer;
    text-align: left;
    padding-left: 2em;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;

    i.chevron.right.icon {
      margin-right: 0 !important;
    }

    &.active {
      font-weight: 700;
    }
  }

  div.item {
    text-align: left;

    img {
      width: 60px;
      margin: 0 auto;
    }
  }

  div.item:first-child {
    padding-top: 2.5em;
    margin-top: auto;
    padding-bottom: 2em;
  }


}