.ui.grid.errorpage-container {
  min-height: 100vh;
  margin: 0;
  color: white;
  background-color: #aaa;
  background-blend-mode: multiply, multiply;
  background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
  background: linear-gradient(to left, #ee0979, #ff6a00);
  
  .sixteen.wide.column {
    background-position: 100%;
    background-size: 67%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: overlay;
  }

  @media (max-width: 768px) {

    background-color: #ee0979;
  }

  .container {
    margin-top: 10rem;
  }

  .error-image {

    img {
      width: 30%;
    }
  }

  .header {
    color: white;
    margin-bottom: 0;
    font-weight: 500;
  }

  .order-button {
    background-blend-mode: multiply;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: white;
  }
}