.ui.grid.moviepoll-container {
  min-height: 100vh;
  margin: 0;
  background-color: #aaa;
  background-blend-mode: multiply, multiply;
  background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
  background: linear-gradient(to left, #ee0979, #ff6a00);

  .sixteen.wide.column {
    background-position: 100%;
    background-size: 67%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: overlay;
  }

  .container.moviepoll-body {
    margin: 10rem auto !important;

    iframe {
      width: 100%;
    }
  }

  @media (max-width: 768px) {

    background-color: #ee0979;

    .sixteen.wide.column {
      background-position: 100%;
      background-size: 67%;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,.55);
      background-blend-mode: overlay;
    }
  }


}