.login-container.grid {
  min-height: 89vh;
  margin: 0;
  background-blend-mode: multiply, multiply;
  background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
  background: linear-gradient(to left, #ee0979, #ff6a00);

  .sixteen.wide.column {
    background-position: 100%;
    background-size: 67%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: overlay;
  }

  @media (max-width: 768px) {

    background-color: #ee0979;

    .sixteen.wide.column {
      background-position: 100%;
      background-size: 67%;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,.55);
      background-blend-mode: overlay;
    }
  }
  
  div.login-form {
    padding: 2rem 0;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    .header {
      color: white;
    }

    .ui.form {
      padding: 2rem 0;

      label {
        font-size: 1rem;
        color: white;
      }

      .field {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    div.login-form {
      padding: 2rem;
      width: 80%;
    }
  }

  @media (max-width: 475px) {
    div.login-form {
      width: 100%;
    }
  }

  .response-message {
    position: fixed;
    top: 7rem;
    right: 2rem;
    width: auto !important;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;

    p {
      color: white;
      word-break: break-word;
      font-size: 1.2rem;
    }
  }

  @media (max-width: 768px) {

    .response-message.container {
      right: 0;
      padding: 1rem;

      p {
        font-size: 1rem;
      }
    }
  }
  
}