.mainbody {
  min-height: 100vh;
  left: 0;
  background-color: #aaa;
  color: white;
  background-blend-mode: multiply, multiply;
  background: -webkit-linear-gradient(to left, #ee0979, #ff6a00);
  background: linear-gradient(to left, #ee0979, #ff6a00);
  
  @media (max-width: 768px) {
    background-color: #ee0979;
  }

  > .ui.grid {
    margin: 0;
  }
}